/* Adding Fonts Raleway*/
@font-face {
  font-family: "Raleway-Regular";
  src: url("Raleway-Regular.eot");
  src: local("Raleway"), local("Raleway-Regular"),
    url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("Raleway-Light.eot");
  src: local("Raleway Light"), local("Raleway-Light"),
    url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("Raleway-ExtraLight.eot");
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"),
    url("../fonts/Raleway-ExtraLight.eot#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-ExtraLight.woff") format("woff"),
    url("../fonts/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Thin";
  src: url("Raleway-Thin.eot");
  src: local("Raleway Thin"), local("Raleway-Thin"),
    url("../fonts/Raleway-Thin.eot#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Thin.woff") format("woff"),
    url("../fonts/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"),
    url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* Adding Fonts Open Sans */

@font-face {
  font-family: "OpenSans-Bold";
  src: url("OpenSans-Bold.eot");
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Italic";
  src: url("OpenSans-Italic.eot");
  src: local("Open Sans Italic"), local("OpenSans-Italic"),
    url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Italic.woff") format("woff"),
    url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("OpenSans-Regular.eot");
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("OpenSans-SemiBold.eot");
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-SemiBold.woff") format("woff"),
    url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/* Main style */
/* Header style start */
body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
}
.site-header,
.stylish,
.footer {
  background-color: #000;
  color: #fff;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.top-header {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}
.top-header__box,
.header-title__box,
.box-shadow__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.top-header__navbar {
  display: flex;
}
.top-header__item {
  margin-right: 47px;
}
.top-header__item:last-child {
  margin-right: 0;
}
.top-header__link {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.69);
}
.top-header__link:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}
.header-title {
  width: 100%;
  max-width: 1400px;
  height: 641px;
  padding: 110px 0 0 0;
  background: url("../images/header-back.png") no-repeat;
  background-position: left bottom;
  overflow: hidden;
}
.header-title__logo {
  margin-bottom: 25px;
}
.header-title__h1 {
  margin-bottom: 27px;
  font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-left: -2px;
  font-size: 36px;
}
.header-title__text {
  width: 100%;
  max-width: 462px;
  margin: 20px 0 44px 0;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.8);
}
.btn-download {
  display: inline-block;
  padding: 11px 31px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}
.btn-download:hover {
  background-color: rgb(255, 155, 81);
}
.header-title__content {
  flex: 0 0 550px;
}
.trial-form {
  width: 100%;
  max-width: 360px;
  align-self: flex-end;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.trial-form__header {
  margin-bottom: 34px;
  padding: 13px 53px 14px 53px;
  text-align: center;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.trial-form__header span {
  color: rgb(255, 139, 56);
}
.trial-form__form {
  padding: 0 35px 0 40px;
}
.trial-form__input {
  display: block;
  width: 100%;
  padding: 8px 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.trial-form__input:first-child {
  margin-bottom: 32px;
}
.trial-form__input:nth-child(2) {
  margin-bottom: 43px;
}
.trial-form__input:last-child {
  margin-bottom: 50px;
}
input:focus,
textarea:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder {
  color: #bdbdbd;
  padding-left: 10px;
}
.trial-form__footer {
  padding: 17px 0;
  width: 100%;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  background-color: rgb(255, 155, 81);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
/* Social */
.box-shadow {
  box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.8);
}
.box-shadow__social {
  padding: 20px 0;
}
.box-shadow__social-box {
  flex: 0 0 364px;
}
.box-shadow__social-text {
  color: rgb(134, 135, 139);
  line-height: 1.4;
}
.box-shadow__social-title {
  margin-bottom: 5px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(51, 51, 51);
}
.social {
  display: flex;
}
.social__item {
  display: flex;
  justify-content: center;
}

.social__link {
  color: rgb(204, 204, 204);
}
.social__link--big {
  display: block;
  margin-right: 54px;
  font-size: 48px;
}
.social__item:last-child .social__link--big {
  margin-right: 10px;
}
/* Tab styles */
.tab {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.33;
}
/* Button style for open tabs */
.tab button {
  display: block;
  text-align: center;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  width: 110px;
  height: 110px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.tab button:last-child {
  border-bottom: none;
}
/* Change background color buttons on hover */
.tab button:hover {
  background-color: #ddd;
}
/* Create active current class "button tab" */
.tab button.active {
  background-color: rgb(255, 139, 56);
}
/* Tab content style */
.tabs__content {
  display: flex;
  justify-content: space-between;
}
/* Tabs */
.tabs,
.standart,
.pricing {
  background-color: rgb(245, 245, 245);
}
.tabs__row {
  padding: 150px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.tabs__items {
  margin-bottom: 137px;
}
.tablinks {
  padding: 0;
}
.tablinks:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.tablinks:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.tabs__text {
  padding: 0 94px;
}
.tabs__text h3 {
  margin-bottom: 48px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.tabs__text p {
  margin-bottom: 20px;
  color: rgb(134, 135, 139);
  line-height: 1.429;
}
.tabs__text p:last-of-type {
  margin-bottom: 50px;
}
.button {
  display: inline-block;
  padding: 13px 23px 13px 25px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: rgb(255, 139, 56);
  border-radius: 3px;
}
.button:hover {
  background-color: rgb(51, 51, 51);
}
.tabs__download:hover {
  background-color: rgb(51, 51, 51);
}
.tabs__image {
  padding-top: 20px;
}
/* Sublist section */
.sublist__content {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 97px 0 101px 0;
  display: flex;
  justify-content: space-between;
}
.sublist__image-row {
  align-self: center;
}
.sublist__text-row {
  padding-right: 65px;
  flex: 0 0 485px;
}
.sublist__text-header {
  margin-bottom: 40px;
}
.sublist__text-header p,
.sublist__subtext p,
.standart__text-row p {
  line-height: 1.429;
  color: rgb(134, 135, 139);
}
.sublist__text-header h3,
.standart__text-row h3 {
  margin-bottom: 28px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 2.15;
  color: rgb(33, 33, 33);
}
.sublist__text-header h3:after {
  display: block;
  width: 64px;
  height: 2px;
  content: "";
  background-color: rgb(255, 139, 56);
  margin-top: 16px;
}
.sublist__text-content h3 {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(33, 33, 33);
}
.sublist__subtitle {
  display: flex;
  justify-content: space-between;
}
.sublist__subtext {
  margin-bottom: 30px;
}
.sublist__subtext h3 {
  margin-bottom: 8px;
}
.fa-solid {
  align-self: flex-start;
}
.fa-cloud-arrow-up,
.fa-cloud-arrow-down {
  padding: 10px;
  font-size: 16px;
  color: rgb(255, 139, 56);
  border: 2px solid rgb(255, 139, 56);
  border-radius: 50%;
}
.sublist__subtext {
  flex: 0 0 364px;
}
/* Standart picture section */
.standart__content {
  width: 100%;
  max-width: 1225px;
  padding: 60px 0 70px 0;
  margin: 0 auto;
  display: flex;
}
.standart__text-row {
  flex: 0 0 538px;
}
.standart__text {
  padding-left: 65px;
  padding-top: 35px;
}
.standart__text-row h3::after {
  display: block;
  width: 64px;
  height: 2px;
  content: "";
  background-color: rgb(255, 139, 56);
  margin-top: 16px;
}
.standart__text-row p {
  margin-bottom: 20px;
}
.standart__image-row {
  padding-top: 15px;
  margin-left: auto;
}
/* Awesome section */
.awesome__content {
  padding: 100px 0 85px 0;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.awesome__content h3,
.pricing__content h3,
.customers__content h3,
.stylish__content h3,
.contact__content h3 {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 36px;
  color: rgb(33, 33, 33);
}
.awesome__content h3::after,
.pricing__content h3::after,
.customers__content h3::after,
.stylish__content h3::after,
.contact__content h3::after {
  position: absolute;
  display: block;
  text-align: center;
  width: 64px;
  height: 2px;
  content: "";
  left: 47%;
  top: 100%;
  background-color: rgb(255, 139, 56);
  margin-top: 25px;
}
.awesome__content p,
.pricing__content p,
.customers__content p,
.stylish__content p,
.contact__content p {
  padding-top: 25px;
  margin-bottom: 75px;
  text-align: center;
  color: rgb(134, 135, 139);
  line-height: 1.429;
}
.awesome__row {
  display: flex;
}
.awesome__column {
  flex: 0 0 33.333%;
}
.awesome__column-content {
  display: flex;
  flex-flow: column nowrap;
}
.awesome__column-icon {
  width: 70px;
  height: 70px;
  margin-bottom: 25px;
  align-self: center;
  font-size: 32px;
  border: 2px solid rgb(255, 139, 56);
  color: rgb(255, 139, 56);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-lightbulb,
.fa-keyboard,
.fa-bolt {
  align-self: center;
}
.awesome__column-text {
  text-align: center;
}
.awesome__column-text h4 {
  margin-bottom: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: rgb(51, 51, 51);
}
.awesome__column-text p {
  margin-bottom: 18px;
  padding: 0 15px;
}
/* Pricing */
.pricing__content {
  padding: 100px 0 95px 0;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.pricing__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pricing__column {
  text-align: center;
  flex: 0 0 343px;
}
.pricing__column-title,
.pricing__column-rate,
.pricing__column-payment {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
}
.pricing__column-payment {
  padding: 0px 0 15px 0;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.502);
  font-style: italic;
}
.pricing__column-title {
  padding: 18px 0 18px 0;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.pricing__column-rate {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  font-size: 95px;
  line-height: 0.686;
  font-weight: bold;
}
.pricing__column-rate span {
  font-size: 35px;
}
.pricing__column-popular {
  min-height: 4px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: rgb(255, 139, 56);
  color: #fff;
  line-height: 1.714;
}
.pricing__column:nth-child(2) .pricing__column-popular {
  padding: 9px 0;
  text-transform: uppercase;
}
.pricing__column-description {
  background-color: rgb(255, 255, 255);
}
.pricing__column-description p {
  margin: 0;
  padding: 9px 0;
  line-height: 1.714;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.pricing__column-description p:last-child {
  border-bottom: none;
}
/* Customers */
.customers__content {
  padding: 98px 0;
}
.customers__content p {
  margin-bottom: 50px;
}
.customers__row {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.customers__column {
  flex: 0 0 273px;
}
.customers__column p {
  text-align: left;
  margin: 0;
  padding: 0;
}
.customers__column-text {
  position: relative;
  padding: 20px 10px 30px 10px;
  margin-bottom: 25px;
  background-color: rgb(245, 245, 245);
  border-radius: 2px;
}
.customers__column-text p {
  line-height: 1.2;
}
.customers__column-text::before,
.customers__column-text::after {
  content: "";
  position: absolute;
  left: 30px;
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid rgb(245, 245, 245);
}
.block::after {
  border-top: 10px solid white;
  bottom: -19px;
}
.customers__client {
  padding-left: 5px;
  display: flex;
}
.customers__name {
  padding-left: 15px;
  padding-top: 14px;
}
.customers__name p {
  line-height: 1.2;
}
.customers__name h4 {
  margin-bottom: 5px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 51, 51);
}
/* Stylish Block */
.stylish__content {
  text-align: center;
  width: 100%;
  height: 320px;
  background: url("../images/clip.png") no-repeat;
  background-position: left bottom;
  overflow: hidden;
}
.stylish__content p {
  margin-bottom: 33px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.8);
}
.stylish__content h3 {
  padding-top: 66px;
  color: rgb(255, 255, 255);
}
.stylish__content h3::after {
  left: 47.7%;
  background-color: rgb(255, 255, 255);
}
/* Contact Block */
.contact__content {
  padding-top: 98px;
  width: 100%;
  max-width: 1120px;
  margin: 0 auto 82px auto;
  text-align: center;
}
.contact__content p {
  margin-bottom: 58px;
}
.contact__row {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.contact__column {
  flex: 0 0 531px;
}
.contact__field {
  display: block;
  width: 100%;
  padding: 11px 10px 12px 10px;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.contact__field:last-child {
  margin-bottom: 0;
}
.contact__textarea {
  width: 100%;
  padding: 5px 10px;
  border: none;
  border-bottom: 1px solid rgb(214, 214, 214);
  resize: none;
}
/* Footer */
.footer {
  padding: 20px 0 15px 0;
}
.footer-social {
  margin-bottom: 12px;
  font-size: 24px;
  color: rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__link--small {
  margin-right: 26px;
}
.social__item:last-child .social__link--small {
  margin-right: 0;
}
.footer__copyright {
  text-align: center;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.502);
}

/* Responsive style */

@media (min-width: 320px) and (max-width: 1199px) {
  .inner {
    /* max-width: 738px; */
    width: 100%;
  }
  .header-title__box {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .top-header__box {
    justify-content: center;
    flex-wrap: wrap;
  }
  .top-header__logo {
    display: none;
  }
  .top-header__navbar {
    flex-wrap: wrap;
  }
  .top-header__link {
    font-size: 18px;
  }
  .header-title__content {
    flex: 0 0 100%;
    text-align: center;
  }
  .header-title {
    max-width: 100%;
    height: auto;
    padding: 10px;
    background: url("../images/header-back.png") no-repeat;
    background-size: cover;
  }
  .header-title__h1 {
    margin-bottom: 14px;
  }
  .header-title__text {
    max-width: 100%;
    margin: 0 0 20px 0;
    font-size: 22px;
    line-height: 1.4;
    color: rgba(255, 255, 255, 0.8);
  }
  .trial-form {
    max-width: 70%;
    align-self: center;
  }
  .btn-download {
    margin-bottom: 20px;
    background-color: rgb(255, 139, 56);
  }
  .box-shadow__social {
    padding: 30px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .box-shadow__social-title {
    font-size: 28px;
  }
  .box-shadow__social-box {
    text-align: center;
    flex-basis: 100%;
  }
  .box-shadow__social-text {
    font-size: 22px;
  }
  .tabs__row {
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* Tabs */
  /* Style the buttons that are used to open the tab content */
  .tab button {
    float: left;
    margin-right: 5px;
  }
  .tab button:last-child {
    margin-right: 0;
  }
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }
  .tabs__content {
    display: flex;
    flex-flow: nowrap column-reverse;
  }
  .tabs__items {
    margin-bottom: 30px;
  }
  .tabs__image {
    align-self: center;
    margin-bottom: 30px;
    padding: 0;
  }
  .tabs__text h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 18px;
  }
  .tabs__text {
    padding: 0;
    font-size: 20px;
  }
  .tabs__text p:last-of-type {
    margin-bottom: 20px;
  }
  .tabs__button {
    text-align: center;
  }
  .tablinks:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .tablinks:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .sublist__content {
    width: 100%;
    max-width: 738px;
    font-size: 20px;
    padding: 30px 0;
    display: flex;
    flex-flow: column nowrap;
  }
  .sublist__text-row {
    padding-right: 0;
  }
  .sublist__subtitle {
    padding-left: 10px;
    display: flex;
    justify-content: center;
  }
  .fa-cloud-arrow-down,
  .fa-cloud-arrow-up {
    margin-right: 40px;
  }
  .sublist__text-header {
    padding: 0 1%;
    text-align: center;
  }
  .sublist__text-header h3 {
    font-size: 28px;
  }
  .sublist__subtext {
    flex: 0 0 80%;
  }
  .sublist__text-header h3:after,
  .standart__text-row h3::after {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .standart__content {
    width: 100%;
    max-width: 738px;
    padding: 30px 0;
    font-size: 20px;
    flex-flow: column nowrap;
  }
  .standart__text-row {
    flex: 1 1 100%;
  }
  .standart__text-row h3 {
    text-align: center;
    font-size: 28px;
  }
  .standart__text {
    padding: 0 10px;
  }
  .standart__image-row {
    padding: 0;
    flex: 1 1 100%;
    align-self: center;
    margin: 0;
  }
  .awesome__row {
    flex-flow: column nowrap;
  }
  .awesome__content {
    padding: 30px 0;
    width: 100%;
    max-width: 738px;
    font-size: 20px;
  }
  .awesome__content p {
    margin-bottom: 30px;
  }
  .pricing__content {
    font-size: 20px;
    padding: 30px 0;
    width: 100%;
    max-width: 738px;
  }
  .pricing__row {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  .pricing__column {
    text-align: center;
    flex: 0 0 100%;
  }
  .pricing__content p {
    margin-bottom: 30px;
  }
  .customers__content {
    padding: 30px 0;
    font-size: 20px;
  }
  .customers__content p {
    margin-bottom: 30px;
  }
  .customers__row {
    padding: 0 10px;
    display: flex;
    flex-flow: column nowrap;
  }
  .stylish__content p {
    font-size: 20px;
    padding: 0 20px;
  }
  .contact__content {
    padding-top: 30px;
    width: 100%;
    max-width: 738px;
    margin: 0 auto 30px auto;
  }
  .contact__content p {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .contact__row {
    margin-bottom: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  .contact__column {
    flex: 0 0 100%;
  }
  ::placeholder {
    font-size: 22px;
  }
  textarea::placeholder {
    padding-top: 30px;
  }
  .footer-social {
    font-size: 32px;
  }
}
